{% if not hasInitiatedRegistration %}
    
<div class="row">
    
    <div class="col-12 col-lg-6">
        <h2>Quick login</h2>
        {% partial '::buttons' %}

        <a href="#" data-request="onLoginwith" data-request-url="{{ this.page.id|page }}" class="btn btn-lg w-100 text-left mb-2 bg-secondary text-white"><i class="fa-fw fas fa-envelope mr-3"></i>Register with e-mail</a>
    </div>

    <div class="col-12 col-lg-6">
        <h2>Sign in with e-mail</h2>
        {% partial 'account::signin' %}
    </div>
</div>
    
{% else %}
    INITATED
{% endif %}